// Обнуление
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  min-height: 320px;
  line-height: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

@import 'components/normalize';
@import 'components/vars';
@import 'components/fonts';
@import 'components/global';

@import 'components/header';
@import 'components/main-top';
@import 'components/store';
@import 'components/categories';
@import 'components/brands';
@import 'components/why';
@import 'components/reviews';
@import 'components/favorite';
@import 'components/footer';
