body {
  font-family: Poppins;
  font-size: 16px;
  color: #666666;
}

[class*='__container'] {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: CalSans;
  font-size: 44px;
  line-height: 1.2;
  text-align: center;
  color: $primaryColor;

  & span {
    color: $thirdColor;
  }

  @media (max-width: $breakPoint768) {
    font-size: 38px;
  }
}
