// Font-size
$primaryFontSize: 20px;
$secondaryFontSize: 24px;

// Line-height
$primaryLineHeight: 21px;
$secondaryLineHeight: 24px;

// Font-weight
$primaryFontWeight: 500;
$secondaryFontWeight: 600;

// Color
$primaryColor: #121212;
$secondaryColor: rgba(18, 18, 18, 0.6);
$thirdColor: #ff6428;

// Breakpoints
$breakPoint1230: 1230px;
$breakPoint1092: 1092px;
$breakPoint992: 991.98px;
$breakPoint768: 767.98px;
$breakPoint600: 600px;
$breakPoint560: 560px;
$breakPoint480: 479.98px;
