<section class="page__brands brands">
  <div class="brands__container">
    <h2 class="brands__title title">Featuring the <span>Best Brands</span></h2>

    <div class="brands__items">
      <div class="brands__item">
        <img src="../../assets/img/brands/01.jpg" alt="Brand">
      </div>

      <div class="brands__item">
        <img src="../../assets/img/brands/02.jpg" alt="Brand">
      </div>

      <div class="brands__item">
        <img src="../../assets/img/brands/03.jpg" alt="Brand">
      </div>

      <div class="brands__item">
        <img src="../../assets/img/brands/04.jpg" alt="Brand">
      </div>

      <div class="brands__item">
        <img src="../../assets/img/brands/05.jpg" alt="Brand">
      </div>

      <div class="brands__item">
        <img src="../../assets/img/brands/06.jpg" alt="Brand">
      </div>

      <div class="brands__item">
        <img src="../../assets/img/brands/07.jpg" alt="Brand">
      </div>

      <div class="brands__item">
        <img src="../../assets/img/brands/08.jpg" alt="Brand">
      </div>
    </div>
  </div>
</section>