<section class="page__categories categories">
  <div class="categories__container">
    <h2 class="categories__title title">Choose based on <span>Categories</span></h2>

    <div class="categories__items">
      <a class="categories__item item-category" href="#">
        <div class="item-category__title">Acoustic</div>
        <div class="item-category__image">
          <img src="../../assets/img/categories/01.jpg" alt="Category">
        </div>
      </a>

      <a class="categories__item item-category" href="#">
        <div class="item-category__title">Electric</div>
        <div class="item-category__image">
          <img src="../../assets/img/categories/02.jpg" alt="Category">
        </div>
      </a>

      <a class="categories__item item-category" href="#">
        <div class="item-category__title">Basses</div>
        <div class="item-category__image">
          <img src="../../assets/img/categories/03.jpg" alt="Category">
        </div>
      </a>

      <a class="categories__item item-category" href="#">
        <div class="item-category__title">Collections</div>
        <div class="item-category__image">
          <img src="../../assets/img/categories/04.jpg" alt="Category">
        </div>
      </a>
    </div>
  </div>
</section>