<section class="page__favorite favorite">
  <div class="favorite__container">
    <div class="favorite__body">
      <h2 class="favorite__title title">Browse and buy your <span>favorite guitars</span> with Rhythm.</h2>

      <div class="favorite__apps apps-favorite">
        <a class="apps-favorite__item" href="#">
          <img src="../../assets/img/favorite/google.jpg" alt="Google">
        </a>
        <a class="apps-favorite__item" href="#">
          <img src="../../assets/img/favorite/apple.jpg" alt="Apple">
        </a>
      </div>
    </div>

    <div class="favorite__images">
      <img src="../../assets/img/favorite/image.jpg" alt="Favorite">
    </div>
  </div>
</section>