<footer class="page__footer footer">
  <div class="footer__container">
    <div class="footer__body body-footer">
      <div class="body-footer__column">
        <a class="body-footer__logo" href="#">
          <img src="../../assets/img/footer/logo.svg" alt="Footer logo">
        </a>
        <ul class="body-footer__contacts contacts-footer">
          <li class="contacts-footer__item">
            <a class="contacts-footer__link contacts-footer__link_mail"
              href="mailto:enquiry@Rhythm.com">Enquiry@Rhythm.com</a>
          </li>
          <li class="contacts-footer__item">
            <a class="contacts-footer__link contacts-footer__link_location" href="#">San
              Francisco</a>
          </li>
        </ul>
      </div>

      <div class="body-footer__column body-footer__column_full">
        <nav class="body-footer__menu menu-footer">
          <div class="menu-footer__column">
            <div class="menu-footer__title">Pages</div>
            <ul class="menu-footer__list">
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Store</a>
              </li>
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Collections</a>
              </li>
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Support</a>
              </li>
            </ul>
          </div>

          <div class="menu-footer__column">
            <div class="menu-footer__title">Product</div>
            <ul class="menu-footer__list">
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Terms</a>
              </li>
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Privacy Policy</a>
              </li>
              <li class="menu-footer__item">
                <a class="menu-footer__link" href="#">Copyright</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="body-footer__column">
        <div class="body-footer__social social-footer">
          <div class="social-footer__title">Follow us</div>

          <div class="social-footer__items">
            <a class="social-footer__item" href="#">
              <img src="../../assets/img/footer/social/01.svg" alt="Facebook">
            </a>
            <a class="social-footer__item" href="#">
              <img src="../../assets/img/footer/social/02.svg" alt="Twitter">
            </a>
            <a class="social-footer__item" href="#">
              <img src="../../assets/img/footer/social/03.svg" alt="Instagram">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__copy">
      © 2022 Copyright.Rhythm
    </div>
  </div>
</footer>