<section class="page__main main">
  <div class="main__container">
    <div class="main__content">
      <h1 class="main__title">Browse top quality <span>Guitars</span> online</h1>
      <p class="main__text">Explore 50k+ latest collections of branded guitars online with Rhythm.</p>

      <div class="main__actions actions-main">
        <a class="actions-main__button" href="#">Get the App</a>
        <div class="actions-main__icon">
          <img src="../../assets/img/main/google.svg" alt="Google icon">
        </div>
        <div class="actions-main__icon">
          <img src="../../assets/img/main/apple.svg" alt="Apple icon">
        </div>
      </div>
    </div>

    <div class="main__decor">
      <div class="main__image">
        <img src="../../assets/img/main/main-decor.png" alt="Main decor">
      </div>
    </div>
  </div>
</section>