<section class="page__reviews reviews">
  <div class="reviews__container">
    <h2 class="reviews__title title">What our <span>customer’s</span> say</h2>

    <div class="reviews__swiper swiper-reviews swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-reviews__wrapper swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-reviews__slide slide-swiper-reviews swiper-slide">
          <div class="slide-swiper-reviews__picture">
            <div class="slide-swiper-reviews__image">
              <img src="../../assets/img/reviews/01.jpg" alt="Reviews">
            </div>
          </div>

          <div class="slide-swiper-reviews__body">
            <div class="slide-swiper-reviews__text">
              <p>
                “The Quality and Delivery is always on time, being a professional guitarist myself I love the customer
                service the brand provides, highly recommend Rhythm anytime.”
              </p>
            </div>

            <div class="slide-swiper-reviews__author">
              <div class="slide-swiper-reviews__name">Ryan Wels</div>
              <div class="slide-swiper-reviews__position">professional guitarist</div>
            </div>
          </div>
        </div>

        <div class="swiper-reviews__slide slide-swiper-reviews swiper-slide">
          <div class="slide-swiper-reviews__picture">
            <div class="slide-swiper-reviews__image">
              <img src="../../assets/img/reviews/01.jpg" alt="Reviews">
            </div>
          </div>
          <div class="slide-swiper-reviews__body">
            <div class="slide-swiper-reviews__text">
              <p>
                “The Quality and Delivery is always on time, being a professional guitarist myself I love the customer
                service the brand provides, highly recommend Rhythm anytime.”
              </p>
            </div>

            <div class="slide-swiper-reviews__author">
              <div class="slide-swiper-reviews__name">Ryan Wels</div>
              <div class="slide-swiper-reviews__position">professional guitarist</div>
            </div>
          </div>
        </div>

        <div class="swiper-reviews__slide slide-swiper-reviews swiper-slide">
          <div class="slide-swiper-reviews__picture">
            <div class="slide-swiper-reviews__image">
              <img src="../../assets/img/reviews/01.jpg" alt="Reviews">
            </div>
          </div>
          <div class="slide-swiper-reviews__body">
            <div class="slide-swiper-reviews__text">
              <p>
                “The Quality and Delivery is always on time, being a professional guitarist myself I love the customer
                service the brand provides, highly recommend Rhythm anytime.”
              </p>
              <p>
                “The Quality and Delivery is always on time, being a professional guitarist myself I love the customer
                service the brand provides, highly recommend Rhythm anytime.”
              </p>
            </div>

            <div class="slide-swiper-reviews__author">
              <div class="slide-swiper-reviews__name">Ryan Wels</div>
              <div class="slide-swiper-reviews__position">professional guitarist</div>
            </div>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-reviews__pagination swiper-pagination"></div>
    </div>
  </div>
</section>