<section class="page__store store">
  <div class="store__container">
    <h2 class="store__title title">Check out the <span>Store</span></h2>

    <div class="store__body body-store">
      <div class="body-store__header">
        <div class="body-store__title">new on the board</div>
        <a class="body-store__all" href="#">view all</a>
      </div>

      <div class="body-store__items">
        <div class="body-store__item item">
          <a class="item__image" href="#">
            <img src="../../assets/img/store/02.jpg" alt="Picture">
          </a>
          <a class="item__title" href="#">The Essential Les Paul</a>
          <div class="item__price">$1,299.00</div>
        </div>

        <div class="body-store__item item">
          <a class="item__image" href="#">
            <img src="../../assets/img/store/03.jpg" alt="Picture">
          </a>
          <a class="item__title" href="#">J-45 Standard</a>
          <div class="item__price">$1,699.00</div>
        </div>

        <div class="body-store__item item">
          <a class="item__image" href="#">
            <img src="../../assets/img/store/04.jpg" alt="Picture">
          </a>
          <a class="item__title" href="#">Hummingbird Standard</a>
          <div class="item__price">$2,099.00</div>
        </div>

        <div class="body-store__item item">
          <a class="item__image" href="#">
            <img src="../../assets/img/store/05.jpg" alt="Picture">
          </a>
          <a class="item__title" href="#">The Essential Les Paul</a>
          <div class="item__price">$1,299.00</div>
        </div>

        <div class="body-store__item item">
          <a class="item__image" href="#">
            <img src="../../assets/img/store/06.jpg" alt="Picture">
          </a>
          <a class="item__title" href="#">The Essential Les Paul</a>
          <div class="item__price">$1,299.00</div>
        </div>

        <div class="body-store__item item">
          <a class="item__image" href="#">
            <img src="../../assets/img/store/01.jpg" alt="Picture">
          </a>
          <a class="item__title" href="#">The Essential Les Paul</a>
          <div class="item__price">$1,299.00</div>
        </div>
      </div>
    </div>
  </div>
</section>