<section class="page__why why">
  <div class="why__container">
    <h2 class="why__title title">Why try <span>Rhythm?</span></h2>

    <div class="why__items">
      <div class="why__item item-why">
        <div class="item-why__icon">
          <img src="../../assets/img/why/01.svg" alt="Icon">
        </div>
        <div class="item-why__title">Smooth Browsing</div>
        <div class="item-why__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      </div>

      <div class="why__item item-why">
        <div class="item-why__icon">
          <img src="../../assets/img/why/02.svg" alt="Icon">
        </div>
        <div class="item-why__title">EASY Delivery </div>
        <div class="item-why__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      </div>

      <div class="why__item item-why">
        <div class="item-why__icon">
          <img src="../../assets/img/why/03.svg" alt="Icon">
        </div>
        <div class="item-why__title">SwiFT PAYMENTS</div>
        <div class="item-why__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      </div>
    </div>
  </div>
</section>